---
layout: layouts/base.njk
permalink: /
---

Hello World! Welcome to the Eleventy + Netlify CMS demo!

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>